<p id="texto_instrucciones" hidden>Por favor seleccione la operación que les indico su maestra, luego observer los números a los lados, escriba el resultado en el elemento de color rosado y presioné el botón de color rojo.</p>
<div class="container mt-4">
  <div class="text-center">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <button class="btn btn-danger text-center " style="padding-right: 10%; color:black; " onclick="leerTexto()">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
            class="bi bi-volume-up-fill" viewBox="0 0 16 16">
            <path
              d="M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z">
            </path>
            <path
              d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89l.706.706z">
            </path>
            <path
              d="M8.707 11.182A4.486 4.486 0 0 0 10.025 8a4.486 4.486 0 0 0-1.318-3.182L8 5.525A3.489 3.489 0 0 1 9.025 8 3.49 3.49 0 0 1 8 10.475l.707.707zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06z">
            </path>
          </svg>
        </button>
        <a href="/modulos/gamificacion" class="btn btn-success"
          style="padding-right: 10%;" id="greenButton">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
            class="bi bi-check-circle-fill" viewBox="0 0 16 16">
            <path
              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z">
            </path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container mt-4 bg-dark" style="border-radius: 5px;">
  <div class="cssanimation fadeInBottom">
    <div class="row" style="padding-top: 20px; padding-left: 5px; padding-right: 5px; padding-bottom: 20px;">
      <form>
        <div class="row">
          <div class="col">
            <input type="number" class="form-control caja" id="numero1" />
          </div>
          <div class="col">
            <select style="background-color: blue;" class="form-select form-select-lg mb-3"
              aria-label="Default select example" id="operacion">
              <option value="1">+</option>
              <option value="2">-</option>
              <option value="3">*</option>
            </select>
          </div>
          <div class="col">
            <input type="number" class="form-control caja" id="numero2" />
          </div>
          <div class="col">
            <input type="text" class="form-control" id="igual" value="=" style="text-align: center;" readonly />
          </div>
          <div class="col">
            <input style="background-color: violet;" type="number" class="form-control caja" id="resultado" />
          </div>
          <button type="button" class="btn btn-primary mt-5" id="calcular">
            CALCULAR
          </button>
        </div>
      </form>
    </div>
    <div class="row text-center justify-content-center">

      <i class="fas fa-trophy fa-7x text-black" id="imagen">
        <h1 class="text-black" id="buenas">0</h1>
      </i>
      <p hidden id="gif"></p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"></script>
    <script>
      let contador = 0;
      aleatorio();
      let calcular = document.getElementById("calcular");
      calcular.addEventListener("click", verificarRespuesta);

      let gif = document.getElementById("gif");

      function verificarRespuesta() {
        let numero1 = document.getElementById("numero1").value;
        let numero2 = document.getElementById("numero2").value;
        let resultado = document.getElementById("resultado").value;
        let operacion = document.getElementById("operacion").value;

        const result1 = document.getElementById("resultado");

        if (operacion == "1") {
          let calcularResultado = Number(numero1) + Number(numero2);
          console.log("Estoy sumando");
          if (resultado == calcularResultado) {
            gif.classList.remove("invisible");
            document.getElementById("numero1").value = 0;
            document.getElementById("numero2").value = 0;
            var synth = window.speechSynthesis;
            var speech = new SpeechSynthesisUtterance('La respuesta es correcta, resuelve el siguiente ejercicio para seguir acumulando puntos.');
            synth.speak(speech);
            aleatorio();
            mostrarPuntos();
            gif.src = "https://giphy.com/embed/l0MYKDrj6SXHz8YYU";
            setTimeout(function () {
              gif.src = "";
            }, 5000);
            contador++;
          } else {
            result1.value = "";
            var synth = window.speechSynthesis;
            var speech = new SpeechSynthesisUtterance('La respuesta es incorrecta, intentalo de nuevo.');
            synth.speak(speech);
            gif.classList.remove("invisible");
            gif.src = "https://giphy.com/embed/3jmqIaBE8x86xwbSbD";
            setTimeout(function () {
              gif.src = "https://giphy.com/embed/3jmqIaBE8x86xwbSbD";
            });
          }
        } else if (operacion == "2") {
          let calcularResultado = Number(numero1) - Number(numero2);
          console.log("Estoy restando");
          if (resultado == calcularResultado) {
            gif.classList.remove("invisible");
            document.getElementById("numero1").value = 0;
            document.getElementById("numero2").value = 0;
            var synth = window.speechSynthesis;
            var speech = new SpeechSynthesisUtterance('La respuesta es correcta, resuelve el siguiente ejercicio para seguir acumulando puntos.');
            synth.speak(speech);
            aleatorio();
            mostrarPuntos();
            gif.src = "https://giphy.com/embed/l0MYKDrj6SXHz8YYU";
            setTimeout(function () {
              gif.src = "";
            }, 5000);
            contador++;
          } else {
            result1.value = "";
            var synth = window.speechSynthesis;
            var speech = new SpeechSynthesisUtterance('La respuesta es incorrecta, intentalo de nuevo.');
            synth.speak(speech);
            gif.classList.remove("invisible");
            gif.src = "https://giphy.com/embed/3jmqIaBE8x86xwbSbD";
            setTimeout(function () {
              gif.src = "https://giphy.com/embed/3jmqIaBE8x86xwbSbD";
            });
          }
        } else if (operacion == "3") {
          let calcularResultado = Number(numero1) * Number(numero2);
          console.log("Estoy multiplicando");
          if (resultado == calcularResultado) {
            gif.classList.remove("invisible");
            document.getElementById("numero1").value = 0;
            document.getElementById("numero2").value = 0;
            var synth = window.speechSynthesis;
            var speech = new SpeechSynthesisUtterance('La respuesta es correcta, resuelve el siguiente ejercicio para seguir acumulando puntos.');
            synth.speak(speech);
            aleatorio();
            mostrarPuntos();
            gif.src = "https://giphy.com/embed/l0MYKDrj6SXHz8YYU";
            setTimeout(function () {
              gif.src = "";
            }, 5000);
            contador++;
          } else {
            result1.value = "";
            var synth = window.speechSynthesis;
            var speech = new SpeechSynthesisUtterance('La respuesta es incorrecta, intentalo de nuevo.');
            synth.speak(speech);
            gif.classList.remove("invisible");
            gif.src = "https://giphy.com/embed/3jmqIaBE8x86xwbSbD";
            setTimeout(function () {
              gif.src = "https://giphy.com/embed/3jmqIaBE8x86xwbSbD";
            });
          }
        }

      }

      function aleatorio() {
        let numero1 = document.getElementById("numero1");
        let numero2 = document.getElementById("numero2");
        let resultado = document.getElementById("resultado");

        numero1.value = numeroAleatorio(1, 10);
        numero2.value = numeroAleatorio(1, 10);
        resultado.value = "";
        function numeroAleatorio(min, max) {
          return Math.floor(Math.random() * (max - min)) + min;
        }
      }

      function mostrarPuntos() {
        let trofeo = document.getElementById("imagen");
        trofeo.classList.remove("invisible");

        let titulo1 = document.getElementById("buenas");
        titulo1.textContent = contador;

        let titulo2 = document.getElementById("malas");
      }
    </script>
    <script src="https://kit.fontawesome.com/7b642ec699.js" crossorigin="anonymous"></script>