<div class="container mt-4">
    <div class="cssanimation fadeInTop">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Ejercicios de Gamificación</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
    </div>
    <br>
    <div class="cssanimation fadeInBottom">
        <div class="shop-default shop-cards shop-tech">
            <div class="row">
                <div class="col-md-4">
                    <div class="block product no-border z-depth-2-top z-depth-2--hover">
                        <div class="block-image">
                            <a href="/modulos/gamificacion/game1">
                                <svg class="bd-placeholder-img img-fluid rounded-start" width="100%" height="350"
                                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image"
                                    preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <title>Juego #1</title>
                                    <rect width="100%" height="100%" fill="#FF1212"></rect><text x="40%" y="50%"
                                        fill="#dee2e6" dy=".3em" font-size="100">1</text>
                                </svg>
                            </a>
                        </div>
                        <div class="block-body text-center">
                            <h3 class="heading heading-5 strong-600 text-capitalize">
                                <a href="#">
                                    Juego #1
                                </a>
                            </h3>
                        </div>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="block product no-border z-depth-2-top z-depth-2--hover">
                        <div class="block-image">
                            <a href="/modulos/gamificacion/game2">
                                <svg class="bd-placeholder-img img-fluid rounded-start" width="100%" height="350"
                                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image"
                                    preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <title>Juego #2</title>
                                    <rect width="100%" height="100%" fill="#FFF820"></rect><text x="40%" y="50%"
                                        fill="#dee2e6" dy=".3em" font-size="100">2</text>
                                </svg>
                            </a>
                        </div>

                        <div class="block-body text-center">
                            <h3 class="heading heading-5 strong-600 text-capitalize">
                                <a href="#">
                                    Juego #2
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="block product no-border z-depth-2-top z-depth-2--hover">
                        <div class="block-image">
                            <a href="/modulos/gamificacion/game3">
                                <svg class="bd-placeholder-img img-fluid rounded-start" width="100%" height="350"
                                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image"
                                    preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <title>Juego #3</title>
                                    <rect width="100%" height="100%" fill="#0012EC"></rect><text x="40%" y="50%"
                                        fill="#dee2e6" dy=".3em" font-size="100">3</text>
                                </svg>
                            </a>
                        </div>
                        <div class="block-body text-center">
                            <h3 class="heading heading-5 strong-600 text-capitalize">
                                <a href="#">
                                    Juego #3
                                </a>
                            </h3>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>