  <style>
    /* Estilos personalizados */
    .arrow-button {
      background-color: #ff3b3b; /* Color celeste */
      color: #fff; /* Texto blanco */
      padding: 20px 40px; /* Padding grande */
      font-size: 80px; /* Tama침o de fuente */
      border: none; /* Sin borde */
      border-radius: 10px; /* Bordes redondeados */
    }

    /* Estilo de la flecha */
    .arrow {
      border: solid white;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 25px;
      transform: rotate(-45deg); /* Rotar la flecha */
    }
  </style>
<div class="jumbotron">
    <h1 class="display-4">Sistema Web de Ayuda para la Ense침anza en la Alfabetizaci칩n</h1><br>
    <div class="container text-center" style="font-size: 30px;">
        游녤
    <a class="btn btn-primary arrow-button" href="/modulos"><div class="arrow"></div></a>
    游녣
  </div>
  <br>
    <p class="lead">Este sistema web est치 orientado a facilitar el acceso a ejercicios para la alfabetizaci칩n, dise침ados para personas de la tercera. <br>
        En este sistema se encuentran los siguientes m칩dulos: <br><br>
        <b>- Aprendizaje: Este m칩dulo contiene diversos ejercicios que se componen en 3 etapas.</b><br>
        <b>- Ayuda: Este m칩dulo contiene contactos y material de apoyo descargable de CONALFA.</b><br>
        <b>- Gamificaci칩n: Este modulo contiene juegos que servir치n para hacer mucho m치s din치mica las clases.</b>
    </edad></p>
    <hr class="my-4">
    
</div>