<div class="overlay" id="overlay"></div>
<div class="popup" id="popup">
  <p class="lead">
    Dele las siguientes instrucciones a sus alumnos: <br>
    Que presionen el boton de color amarrillo que tiene un icono de bocina que dicen lo siguiente: <br>.
    - Presiona el video para reproducirlo, y luego intenta hacer cada una de las vocales en tu cuaderno. Al terminar presionar el botón de color verde.
    <br>Debe de repetir las instrucciones y ayudando a los alumnos con el trazo de las vocales tal y como se muestra en el
    video.
  </p>
  <button class="btn btn-link" onclick="cerrarPopup()">Cerrar</button>
</div>
<p id="texto_instrucciones" hidden>Presiona el video para reproducirlo si no inicia automaticamente, luego intenta hacer cada una de las vocales en tu cuaderno. Al terminar presionar el botón de color verde.</p>
<div class="container mt-4 text-center">
  <div class="cssanimation fadeInBottom">
    <video id="myVideo" src="https://dl.dropboxusercontent.com/scl/fi/l5tq1wb9n1hdqwu4kdb3f/trazo_vocales_etapa1_ejercicio1.mp4?rlkey=lzq8gl9fcyak3hv1eqm21c2k3&dl=0" style="width: 100%; height: auto; max-width: 720px;" controls>
      Tu navegador no soporta la reproducción de videos.
    </video>
    <br><br>
    <div class="row justify-content-center">
      <br>
      <div class="col-md-3">
        <br>
        <div class="block product  z-depth-2--hover">
          <button class="btn btn-secondary text-center" onclick="mostrarPopup()"
            style="padding-right: 5%; color:black; ">
            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-book"
              viewBox="0 0 16 16">
              <path
                d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
            </svg>
          </button>
        </div>
      </div>
      <br>
      <div class="col-md-3">
        <br>
        <div class="block product z-depth-2--hover">
          <button type="button" class="btn btn-danger" style="padding-right: 10%;" onclick="leerTexto()">
            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor"
              class="bi bi-volume-up-fill" viewBox="0 0 16 16">
              <path
                d="M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z">
              </path>
              <path
                d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89l.706.706z">
              </path>
              <path
                d="M8.707 11.182A4.486 4.486 0 0 0 10.025 8a4.486 4.486 0 0 0-1.318-3.182L8 5.525A3.489 3.489 0 0 1 9.025 8 3.49 3.49 0 0 1 8 10.475l.707.707zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06z">
              </path>
            </svg>
          </button>
        </div>
      </div>
      <br>
      <div class="col-md-3">
        <br>
        <div class="block product z-depth-2--hover">
          <a href="/modulos/aprendizaje/etapa-1?next=ejercicio-2" type="button" class="btn btn-success" style="padding-right: 5%; ">
            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor"
              class="bi bi-check-circle-fill" viewBox="0 0 16 16">
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z">
              </path>
            </svg>
          </a>

        </div>
      </div>
    </div>

  </div>

</div>