<section class="page-section portfolio">
    <div class="cssanimation fadeInTop">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Etapas</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
    </div>
    <!-- Portfolio Grid Items-->
    <div class="cssanimation fadeInBottom">
        <div class="row justify-content-center">
            <!-- Portfolio Item 1-->

            <div class="col-md-6 col-lg-4 mb-5">
                <a href="/modulos/aprendizaje/etapa-1">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                        <div
                            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i
                                    class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="/img/hoja.png" alt="..." />

                    </div>
                </a>
                <h4 class="text-uppercase mb-5" style="margin-top: 20px;">&nbsp;Etapa 1</h4>
            </div>
            <!-- Portfolio Item 2-->
            <div class="col-md-6 col-lg-4 mb-5">
                <a href="/modulos/aprendizaje/etapa-2">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                        <div
                            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i
                                    class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="/img/Oruga.png" alt="..." />

                    </div>
                </a>
                <h4 class="text-uppercase mb-5" style="margin-top: 20px;">&nbsp;Etapa 2</h4>
            </div>
            <!-- Portfolio Item 3-->
            <div class="col-md-6 col-lg-4 mb-5">
                <a href="/modulos/aprendizaje/etapa-3">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
                        <div
                            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i
                                    class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="/img/Mariposa.png" alt="..." />

                    </div>
                </a>
                <h4 class="text-uppercase mb-5" style="margin-top: 20px;">&nbsp;Etapa 3</h4>
            </div>
            <!-- Portfolio Item 4-->
        </div>
    </div>
</section>