<div class="cssanimation fadeInBottom">
    <div class="col-md-4 mx-auto">
        <div class="card text-center">
            <div class="card-header">
                <h3>Inición de Sesión</h3>
            </div>
            <img src="/img/conalfa_logo.png" alt="Logo Conalfa" class="mx-auto d-block m-4 logo">
            <div class="card-body">
                <form action="/users/signin" method="post">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Correo Electrónico" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Contraseña" required>
                    </div>
                    <button class="btn btn-primary btn-block">
                        Iniciar Sesión
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>